body {
    background: url(https://media.giphy.com/media/xT9Igqq02d80wIqUpy/giphy.gif);
    background-size: 1300px;
    
}


.biggercontainer {
     width: 800px;
    margin: 0px auto;
    background-color: black;
}


p {
    font-family: 'Special Elite', cursive;
    font-size: 50px;
        color: white;
}


.container {
    width: 600px;
    margin: 50px auto;
    background: ;
    
}



a:link {
 color: white;
  text-decoration: none;
    font-family: 'Special Elite', cursive;
    font-size: 50px;
   float: right;
      background: url(https://media.giphy.com/media/l46Cyz2VY4XTzQ6TC/giphy.gif);
  background-size: cover;
  background-position: center;
  
  -webkit-background-clip: text;
  color: transparent; // 
   
}

a:visited {
     color: white;
  text-decoration: none;
    
}

a:hover {
    color: black;
  text-decoration: none;
    background: url(https://media.giphy.com/media/3o7WIstFhcFoyivPnW/giphy.gif);
  background-size: cover;
  background-position: center;
  
  -webkit-background-clip: text;
  color: transparent; // 
    
}

a:active {
  text-decoration: none;
}





.clip-text {
  background: url(https://media.giphy.com/media/l46Cyz2VY4XTzQ6TC/giphy.gif);
  background-size: cover;
  background-position: center;
  
  -webkit-background-clip: text;
  color: transparent; // 
  
  width: 300px;
  height: 200px;
  box-sizing: border-box;
  font-size: 120px;
  font-weight: bold;
  text-align: center;
  line-height: 100px;
  flex-shrink: 0;
    font-family: 'Cabin Sketch', cursive;
}

.move {
text-align: center;
}






